@media screen and (max-width: 768px) {

  .projects .card-project,
  .projects-dark .card-project  {
    justify-self: center;
    width: 255px;
  }

  .projects-dark .card-button {
    background-image: linear-gradient(
      -60deg,
      transparent,
      transparent 40%,
      #6e6e6ebb 40%,
      #6e6e6ebb 60%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 3s 0s infinite;
  }

  .card-button svg {
    animation: arrow 1s infinite;
  }
}
