@media screen and (max-width: 768px) {

  .projects .card-project,
  .projects-dark .card-project  {
    justify-self: center;
    width: 255px;
  }

  :is(.projects, .projects-dark) .card-button {
    animation: shine 3s 0s infinite;
  }

  .card-button svg {
    animation: arrow 1s infinite;
  }
}
