@media screen and (max-width: 768px) {

  @keyframes height {
    0% {
      min-height: 80vh;
    }
    100% {
      min-height: 50vh;
    }
  }

  .images-about {
    padding: 20px;
    height: 50vh;
    min-height: 240px;
    display: flex;
    align-items: center;
    animation: height ease-out 1s;
  }

  .container-about-me {
    height: auto;
  }

  .container-about-me h3{
    font-size: 1em;
  }

  .container-about-me p{
    font-size: 0.8em;
  }

  .skills-container {
    padding: 40px 0 80px 0;
  }

  .skills {
    flex-wrap: wrap;
    font-size: 0.6em;
    min-height: 170px;
  }

  .skills li {
    padding: 0;
    width: 30%;
  }

  .skills svg {
    font-size: 3em;
  }

  .link-about-me {
    display: none;
  }

}
