@media screen and (max-width: 768px) {
  .about {
    padding-top: 0;
    height: 50vh;
  }

  .about .slider {
    height: 70%;
  }

  .about .slider div {
    height: 100%;
    text-align: center;
  }

  .container-about-me {
    height: auto;
  }

  .container-about-me h3{
    font-size: 1em;
  }

  .container-about-me p{
    font-size: 0.8em;
  }

  .skills-container {
    padding: 40px 0 80px 0;
  }

  .skills {
    flex-wrap: wrap;
    font-size: 0.6em;
  }

  .skills li {
    padding: 0;
    width: 30%;
  }

  .skills svg {
    font-size: 3em;
  }

  .link-about-me {
    display: none;
  }

}
