@keyframes toTop {
  
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.projects {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 100px 20px;
  transition: 1s;
}

.project-card {
  justify-self: flex-start;
}

.project-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.project-link img {
  transition: 0.5s;
  width: 100px;
  height: 100px;
  border-radius: 0.3em;
  margin: 0px;
}

.project-link img:hover {
  width: 120px;
  height: 120px;
}

.project-card {
  align-items: flex-start;
  animation: toTop 1s;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.project-card h4 {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  transition: 1s;
  padding: 10px 0;
}
