@media screen and (max-width: 768px) {

  .projects {
    height: auto;
    padding: 40px 0 80px 0;
  }

  .project-link img {
    width: 130px;
    height: 130px;
  }

  .project-link img:hover {
    width: 130px;
    height: 130px;
  }

  .project-card {
    margin: 0;
  }

}
