@media screen and (max-width: 768px) {
  .header {
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    padding: 0;
    top: auto ;
    width: 100vw;
  }

  .header.--theme {
    background-color: var(--light);
  }

  .header.--theme-dark {
    background-color: var(--dark);
  }

  .logo {
    display: none;
  }

  .header > ul {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: calc(100vw - 170px);
  }
  
  ._li_nav_icon_ {
    width: auto;
    height: 50px;
  }

  .nav-icon {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 0.5em 0.5em;
    font-size: 1em;
    padding: 0;
    background: none !important;
  }

  .nav-icon div {
    display: none;
  }

  .nav-icon svg {
    font-size: 1em;
  }

  .header.--theme ._li_nav_icon_:not(.selected) .nav-icon svg,
  .header.--theme ._li_nav_icon_:not(.selected) .nav-icon span {
    color: var(--dark);
    transition: 0.5s;
  }

  .header.--theme-dark ._li_nav_icon_:not(.selected) svg,
  .header.--theme-dark ._li_nav_icon_:not(.selected) span {
    color: var(--light);
    transition: 0.5s;
  }

  ._li_nav_icon_.selected::before {
    display: none;
  }
  
  ._li_nav_icon_.selected a::before {
    display: none;
  }

  .nav-icon span {
    display: block;
    position: static;
    padding: 0;
    border: none;
    animation: none;
    background: none;
  }

  ._li_nav_icon_.selected.-dark::before {
    top: 0px;
    right: -10px;
  }
  
  ._li_nav_icon_.selected.-dark::after {
    left: -10px;
    top: 0;
  }

  ._li_nav_icon_ ._detail_selected_top {
    left: -10px;
    top: 0;
    border-radius: 0 50% 0 0;
  }
  
  ._li_nav_icon_ ._detail_selected_bottom {
    right: -10px;
    top: 0;
    border-radius: 50% 0 0 0;
  }

  .nav-icon svg {
    display: inline-block;
  }
  
  .nav-icon span {
    font-size: 0.6em;
    margin-top: 2.5px;
  }

  .selected-light {
    text-decoration: none !important;
  }

  .selected-dark {
    text-decoration: none !important;
  }

  .selected-blue {
    text-decoration: none !important;
  }

  .selected-green {
    text-decoration: none !important;
  }

  .selected-yellow {
    text-decoration: none !important;
  }

  .selected-red {
    text-decoration: none !important;
  }

  .selected-orange {
    text-decoration: none !important;
  }

  .selected-pink {
    text-decoration: none !important;
  }

  .selected-purple {
    text-decoration: none !important;
  }

  .options_header {
    flex-direction: row;
  }

  .social-label {
    position: absolute;
    left: 20px;
    top: 10px;
  }

  .colors-label {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  
}
