@media screen and (max-width: 768px) {
  .social-label {
    position: static;
  }

  .nav-bar {
    bottom: 0;
    height: 60px;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .nav-bar > ul {
    justify-content: space-around;
    width: 100vw;
  }

  .nav-icon {
    display: none;
  }

  .nav-icon-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-icon-mobile span {
    font-size: 0.6em;
    margin-top: 2.5px;
  }

  .selected-light {
    text-decoration: none !important;
  }

  .selected-dark {
    text-decoration: none !important;
  }

  .selected-blue {
    text-decoration: none !important;
  }

  .selected-green {
    text-decoration: none !important;
  }

  .selected-yellow {
    text-decoration: none !important;
  }

  .selected-red {
    text-decoration: none !important;
  }

  .selected-orange {
    text-decoration: none !important;
  }

  .selected-pink {
    text-decoration: none !important;
  }

  .selected-purple {
    text-decoration: none !important;
  }
}
