@media screen and (max-width: 768px) {

  .social-label {
    position: static;
  }

  .nav-bar {
    bottom: 0;
    height: 60px;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .nav-bar > ul {
    justify-content: space-around;
    width: 100vw;
  }

  .nav-icon {
    display: none;
  }

  .nav-icon-mobile {
    display: block;
    height: 16px;
  }

  .nav-icon-mobile i {
    transition: 1s;
  }

  .selected-light {
    text-decoration: none !important;
  }

  .selected-dark {
    text-decoration: none !important;
  }

  .selected-blue {
    text-decoration: none !important;
  }

  .selected-green {
    text-decoration: none !important;
  }

  .selected-yellow {
    text-decoration: none !important;
  }

  .selected-red {
    text-decoration: none !important;
  }

  .selected-orange {
    text-decoration: none !important;
  }

  .selected-pink {
    text-decoration: none !important;
  }

  .selected-purple {
    text-decoration: none !important;
  }
}
