.about .slider {
  width: 70vw;
}

.about .slider div div {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.about .slick-slide img {
  border-radius: 1em;
  width: 90%;
  margin: 0;
}

.about.bg-dark .slick-prev::before {
  color: white;
  transition: 1s;
}

.about.bg-dark .slick-next::before {
  color: white;
  transition: 1s;
}

.about.bg .slick-prev::before {
  color: black;
  transition: 1s;
}

.about.bg .slick-next::before {
  color: black;
  transition: 1s;
}
