@media screen and (max-width: 768px) {
  /* @keyframes toBottom {
    0% {
      opacity: 0%;
      transform: translateY(-10px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  } */

  @keyframes write-mobile {
    0% {
      width: 0;
    }
    100% {
      width: 168.52px;
    }
  }
  
  @keyframes maskWrite-mobile {
    0% {
      width: 0;
      left: 0;
    }
    50% {
      width: 168.52px;
      right: 0;
    }
    100% {
      width: 0;
      right: 0;
    }
  }

  .home {
    flex-direction: column;
    padding: 0 20px 60px;
  }

  .home .slogan {
    align-items: center;
    gap: 5px;
    width: auto;
  }

  .i-am {
    font-size: 1.1em;
  }

  .slogan h1 {
    font-size: 2em;
    animation: write-mobile 1s;
  }

  .slogan h1::before {
    animation: maskWrite-mobile 1.6s;
  }
  
  .home .dev {
    font-size: 1.2em;
  }

  .home-image {
    /* border-radius: 50%; */
    /* height: 200px; */
    width: 60%;
    max-width: 250px;
    pointer-events: none;
  }

  /* .card-left,
  .card-left-dark {
    width: 100%;
    height: 80vh;
    border-radius: 0 0 1em 1em;
    justify-content: center;
    animation: toBottom 0.5s;
    min-height: 360px;
  }

  .home-logo-theme {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px 20px;
  }

  .home-logo-theme h1 {
    font-size: 1em;
  }

  .home-introduction {
    height: auto;
    gap: 10px;
  }

  .home-introduction h2 {
    font-size: 1.2em;
  }

  .home .card-right,
  .home .card-right-dark {
    width: 100%;
  }

  .star-home {
    font-size: 1.2em;
  }

  .home .header-card-right img {
    width: 35px;
  }

  .search-container h3 {
    width: 100%;
    margin: 60px 0 40px;
  }

  .home .bottom-content {
    height: auto;
  }

  .about-home {
    margin-top: 40px;
    font-size: 0.8em;
  }

  .home .bottom-content ul {
    margin-top: 40px;
    padding: 40px 0;
  } */
}
