@media screen and (max-width: 768px) {
  .project {
    padding: 0 0 80px;
  }

  .project-name {
    padding: 40px 20px;
  }

  .project-name h1 {
    font-size: 2em;
    font-weight: 100;
  }

  .project-name span {
    font-size: 0.8em;
  }

  .project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 20px 0;
    height: auto;
  }

  .project-description {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  .project-description h2 {
    font-size: 1em;
  }

  .project-links {
    padding: 20px 0;
  }

  .project-description p, .project-links a {
    font-size: 0.8em;
  }

  .project-infos {
    padding: 10px;
  }

  .project-infos h3 {
    font-size: 0.9em;
  }

  .project-infos span, .project-infos a {
    font-size: 0.7em;
  }
  
}
