@media screen and (max-width: 768px) {
  .container-about-me {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 40px 20px;
    min-height: 100vh;
  }

  .container-about-me h3 {
    font-size: 1em;
  }

  .container-about-me p {
    font-size: 0.8em;
  }

  .skills-container {
    padding: 40px 0;
  }

  .skills {
    flex-wrap: wrap;
    font-size: 0.6em;
    height: 40vh;
  }

  .skills li {
    padding: 0;
    width: 30%;
  }

  .skills svg {
    font-size: 3em;
  }

  .container-about-me img {
    width: 240px;
    height: 240px;
    margin-bottom: 20px;
  }

  .about-me {
    animation: toRight 1s;
    cursor: default;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
  }
}
