@keyframes jump {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes toTop {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toRight {  
  0% {
    opacity: 0%;
    transform: translateX(-80px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fade {
  
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes toLeft {
  
  0% {
    opacity: 0%;
    transform: translateX(10px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.about {
  transition: 0.5s;
  padding-left: 70px;
}

.container-about-me {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  padding: 40px;
}

.about-me {
  animation: toRight 1s;
  cursor: default;
  padding: 20px;
  width: 50%;
}

.about-me h3 {
  letter-spacing: 0.1em;
  padding: 20px 0;
  transition: 0.5s;
}

.about-me p {
  line-height: 1.6em;
  text-align: justify;
  transition: 0.5s;
}

.container-about-me img {
  border-radius: 1em;
  animation: toLeft 1s;
  width: 250px;
  height: 250px;
  object-fit: cover;
  filter: grayscale();
  pointer-events: none;
}
