.about .slider {
  width: 70vw;
}

.slider div div {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-slide img {
  border-radius: 1em;
  width: 90%;
  margin: 0;
}

.about .img-2 {
  object-position: 0 0;
}

.about .bg-dark .slick-prev::before {
  color: white;
}

.about .bg-dark .slick-next::before {
  color: white;
}

.bg .slick-prev::before {
  color: black;
}

.bg .slick-next::before {
  color: black;
}

.bg-dark .slick-dots li button::before {
  color: white;
}

.bg .slick-dots li button::before {
  color: black;
}
