.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  transition: 1s;
  width: 100vw;
  z-index: 2;
  resize: vertical;
}

.logo {
  cursor: default;
  font-size: 1.2em;
  padding: 10px;
  transition: 1s;
}

.nav-bar ul {
  align-items: center;
  display: flex;
  list-style: none;
}

.social-label, .colors-label {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  transition: 1s;
  width: 35px;
}

.social-label {
  bottom: 15px;
  left: 20px;
  position: fixed;
}

.nav-bar input[ type = checkbox ] {
  display: none;
}

.nav-icon {
  font-size: 0.8em;
  padding: 0 20px;
  transition: 1s;
}

.nav-icon-mobile {
  display: none;
}

.ri-moon-fill, .ri-sun-fill {
  cursor: pointer;
  padding: 0 20px;
  transition: 1s;
}

@media screen and (max-width: 768px) {

  .nav-bar {
    bottom: 0;
    height: 60px;
  }

  .logo {
    display: none;
  }

  .nav-bar > ul {
    justify-content: space-around;
    width: 100vw;
  }

  .social-label {
    position: static;
  }

  .nav-icon {
    display: none;
  }

  .nav-icon-mobile {
    display: block;
    padding: 0 20px;
    height: 16px;
  }

  .nav-icon-mobile i {
    transition: 1s;
  }

  .selected-light {
    text-decoration: none !important;
  }

  .selected-dark {
    text-decoration: none !important;
  }

  .selected-blue {
    text-decoration: none !important;
  }

  .selected-green {
    text-decoration: none !important;
  }

  .selected-yellow {
    text-decoration: none !important;
  }

  .selected-red {
    text-decoration: none !important;
  }

  .selected-orange {
    text-decoration: none !important;
  }

  .selected-pink {
    text-decoration: none !important;
  }

  .selected-purple {
    text-decoration: none !important;
  }
}
