@media screen and (max-width: 768px) {
  .top-bar {
    bottom: 0;
    height: 70px;
  }

  .top-bar-right {
    justify-content: space-around;
    width: 100vw;
  }

  .logo {
    display: none;
  }

  .nav-icon {
    display: none;
  }

  .nav-icon-mobile {
    display: block;
    padding: 0 20px;
    height: 16px;
  }

  .sociais-label {
    position: static;
  
  }

  .selected-light {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-dark {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-blue {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-green {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-yellow {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-red {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-orange {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-pink {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .selected-purple {
    border-bottom: 0 !important;
    color: var(--orange);
    padding-bottom: 0 !important;
  }

  .round-button {
    width: 35px;
    margin: 0;
  }

  .colors-menu {
    bottom: 60px;
    top: auto;
  }

  .social-menu {
    bottom: 60px;
  }

}
