@media screen and (max-width: 768px) {
  .projects,
  .projects-dark {
    padding: 50px 0 80px;
  }

  .projects .input-search,
  .projects-dark .input-search {
    width: 100%;
  }

  .container-projects {
    grid-template-columns: repeat(auto-fill, minmax(255px, 255px));
    justify-content: center;
  }

  .projects .card-project,
  .projects-dark .card-project  {
    justify-self: center;
    width: 255px;
  }

  .card-difficulty {
    font-size: 1em;
  }
}
