@keyframes toTop {
  
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.projects {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 100px 20px;
  transition: 1s;
  gap: 1em;
}

.project-link {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.project-link img {
  transition: 0.5s;
  width: 110px;
  height: 110px;
  border-radius: 0.3em;
  margin: 0px;
}

.project-link img:hover {
  width: 120px;
  height: 120px;
}

.project-card {
  align-items: flex-start;
  animation: toTop 1s;
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-self: center;
}

.project-card h4 {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  transition: 1s;
  padding: 10px 0;
}

.cover {
  width: 110px;
  height: 110px;
  border-radius: 0.3em;
  display: grid;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 1s;
}

.cover span {
  font-size: 0.7em;
  position: absolute;
  top: 5px;
}

@media screen and (min-width: 990px) {
  .projects {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}
