@keyframes toTop {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toRight {
  
  0% {
    opacity: 0%;
    transform: translateX(-10px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.projects,
.projects-dark {
  padding: 100px 0;
  transition: 1s;
}

.projects-search {
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation: toRight 1s;
}

.projects-search span {
  transition: 1s;
}

.projects .input-search,
.projects-dark .input-search {
  background-color: rgb(238, 238, 238);
  border-radius: 25px;
  border: none;
  margin: 40px 0;
  padding: 10px;
  transition: 1s;
  width: 30%;
}

.projects-dark .input-search {
  background-color: rgb(81, 81, 81);
  color: white;
}

.container-projects {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  padding: 20px;
  transition: 1s;
  width: 100vw;
}

.projects .card-project a,
.projects-dark .card-project a {
  animation: toTop 0.5s;
  background-color: rgb(238, 238, 238);
  background-position: bottom;
  background-size: cover;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  transition: 1s;
}

.projects-dark .card-project a {
  background-color: rgb(59, 59, 59);
}

.projects .card-project .card-image,
.projects-dark .card-project .card-image {
  background-image: url(../images/light-wallpaper.png);
  background-position: bottom;
  background-size: cover;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  height: 50%;
  transition: 1s;
  width: 100%;
}

.card-project .card-infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  padding: 0 20px;
  transition: 1s;
}

.projects-dark .card-project .card-image {
  background-image: url(../images/dark-wallpaper.png);
  transition: 1s;
}

.card-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.card-project span {
  font-size: 0.8em;
  transition: 1s;
}

.card-project h3 {
  font-weight: 100;
  margin: 10px 0;
  transition: 1s;
  /*  */
}

.card-project p {
  font-size: 0.9em;
  font-weight: 100;
  text-align: justify;
  transition: 1s;
}

.card-difficulty {
  align-items: center;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  display: flex;
  font-size: 1.5em;
  height: 6%;
  justify-content: center;
  transition: 1s;
}
