@keyframes toTop {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.projects,
.projects-dark {
  padding: 20px 0 0 70px;
  transition: 0.5s;
}

.projects-search {
  animation: toRight 1s;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.projects-search span {
  transition: 0.5s;
  font-size: 1.5em;
}

:is(.projects, .projects-dark) .input-search {
  background-color: rgb(238, 238, 238);
  border-radius: 25px;
  border: none;
  margin: 40px 0;
  padding: 10px;
  transition: 0.5s;
  width: 30%;
}

.projects-dark .input-search {
  background-color: rgb(47, 47, 47);
  color: white;
}

.container-projects {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  padding: 20px;
  transition: 0.5s;
  width: 100%;
}
