:root {
  --light: #fff;
  --dark: #242424;
  --blue: #9599e2;
  --yellow: #fbab7e;
  --green: #28c76f;
  --purple: #8a51ec;
  --pink: #9492ec;
  --red: #ea5455;
  --orange: #db5432;
}

/*
Light
*/

.bg {
  background-image: linear-gradient(40deg, #bcbcbc 10%, #fff 100%);
}

.bg2 {
  background-color: #ffffffad;
}

.bgC {
  background-color: #fff;
}

.bb {
  border: 1px solid var(--light);
}

.bbT {
  border-top: 1px solid var(--light);
}

.c {
  color: var(--light);
}

.c2 {
  color: #6d6d6d;
}

/*
Dark
*/

.bg-dark {
  background-image: linear-gradient(40deg, var(--dark) 10%, #333 100%);
}

.bg2-dark {
  background-color: #141414ad;
}

.bgC-dark {
  background-color: var(--dark);
}

.bb-dark {
  border: 1px solid var(--dark);
}

.bbT-dark {
  border-top: 1px solid var(--dark);
}

.c-dark {
  color: var(--dark);
}

.c2-dark {
  color: #9b9b9b;
}

/* 
Blue
*/

.bb-blue {
  border: 1px solid var(--blue);
}

.bbT-blue {
  border-top: 1px solid var(--blue);
}

.bg-blue {
  background-image: linear-gradient(30deg, var(--blue) 10%, #ddeaff 100%);
}

.bgC-blue {
  background-color: var(--blue);
}

.c-blue {
  color: var(--blue);
}

.selected-blue {
  color: var(--blue);
}

/* 
Green
*/

.bb-green {
  border: 1px solid var(--green);
}

.bbT-green {
  border-top: 1px solid var(--green);
}

.bg-green {
  background-image: linear-gradient(30deg, var(--green) 10%, #bdf9d8 100%);
}

.bgC-green {
  background-color: var(--green);
}

.c-green {
  color: var(--green);
}

.selected-green {
  color: var(--green);
}

/* 
Yellow
*/

.bb-yellow {
  border: 1px solid var(--yellow);
}

.bbT-yellow {
  border-top: 1px solid var(--yellow);
}

.bg-yellow {
  background-image: linear-gradient(30deg, var(--yellow) 0%, #f9dc93 50%);
}

.bgC-yellow {
  background-color: var(--yellow);
}

.c-yellow {
  color: var(--yellow);
}

.selected-yellow {
  color: var(--yellow);
}

/* 
Red
*/

.bb-red {
  border: 1px solid var(--red);
}

.bbT-red {
  border-top: 1px solid var(--red);
}

.bg-red {
  background-image: linear-gradient(30deg, var(--red) 10%, #f99f9f 100%);
}

.bgC-red {
  background-color: var(--red);
}

.c-red {
  color: var(--red);
}

.selected-red {
  color: var(--red);
}

/* 
Purple
*/

.bb-purple {
  border: 1px solid var(--purple);
}

.bbT-purple {
  border-top: 1px solid var(--purple);
}

.bg-purple {
  background-image: linear-gradient(30deg, var(--purple) 10%, #e2b0ff 100%);
}

.bgC-purple {
  background-color: var(--purple);
}

.c-purple {
  color: var(--purple);
}

.selected-purple {
  color: var(--purple);
}

/* 
Pink
*/

.bb-pink {
  border: 1px solid var(--pink);
}

.bbT-pink {
  border-top: 1px solid var(--pink);
}

.bg-pink {
  background-image: linear-gradient(30deg, var(--pink) 30%, #f5c2c2 100%);
}

.bgC-pink {
  background-color: var(--pink);
}

.c-pink {
  color: var(--pink);
}

.selected-pink {
  color: var(--pink);
}

/* 
Orange
*/

.bb-orange {
  border: 1px solid var(--orange);
}

.bbT-orange {
  border-top: 1px solid var(--orange);
}

.bg-orange {
  background-image: linear-gradient(30deg, var(--orange), #f9af95);
}

.bgC-orange {
  background-color: var(--orange);
}

.c-orange {
  color: var(--orange);
}

.selected-orange {
  color: var(--orange);
}

@media screen and (min-width: 769px) {
  .bbT-blue,
  .bbT-yellow,
  .bbT-green,
  .bbT-purple,
  .bbT-pink,
  .bbT-red,
  .bbT-orange,
  .bbT,
  .bbT-dark {
    border-top: none;
  }

  .bg-blue {
    background-image: linear-gradient(-30deg, var(--blue) 10%, #ddeaff 100%);
  }

  .bg-green {
    background-image: linear-gradient(-30deg, var(--green) 10%, #bdf9d8 100%);
  }

  .bg-yellow {
    background-image: linear-gradient(-30deg, var(--yellow) 0%, #f9dc93 50%);
  }

  .bg-red {
    background-image: linear-gradient(-30deg, var(--red) 10%, #f99f9f 100%);
  }

  .bg-purple {
    background-image: linear-gradient(-30deg, var(--purple) 10%, #e2b0ff 100%);
  }

  .bg-pink {
    background-image: linear-gradient(-30deg, var(--pink) 30%, #f5c2c2 100%);
  }
  
  .bg-orange {
    background-image: linear-gradient(-30deg, var(--orange), #f9af95);
  }
}
