:root {
  --light: #fff;
  --light-contrast: #b2b2b2;
  --dark: #242424;
  --dark-contrast: #c5c5c5;
  --blue: #9599e2;
  --blue-contrast: #ddeaff;
  --green: #36cda2;
  --green-contrast: #c9ebf6;
  --yellow: #fbab7e;
  --yellow-contrast: #f9dc93;
  --red: #ea5455;
  --red-contrast: #f9ab9f;
  --purple: #8a51ec;
  --purple-contrast: #e2b0ff;
  --pink: #f7a49f;
  --pink-contrast: #f3eed6;
  --orange: #ff7a5f;
  --orange-contrast: #f5d7ae;
  --coffee: #83624a;
  --coffee-contrast: #a67b5f;
  --luxe: #CDC2AE;
  --luxe-contrast: #EFEAD8;
}

/*
Light
*/

.bg {
  background: linear-gradient(40deg, #ffffffed 15%, #b2b2b2 100%);
}

.bg2 {
  background-color: #e2e2e2;
}

.bgC {
  background-color: #fff;
}

.bgC2 {
  background-color: #f1f1f1;
}

.c {
  color: var(--light);
}

.c2 {
  color: #6d6d6d;
}

.bb {
  border: 1px solid var(--light);
}

.bbT {
  border-top: 1px solid var(--light);
}

/*
Dark
*/

.bg-dark {
  background: linear-gradient(40deg, #2b2b2bed 15%, #c5c5c5 100%);
}

.bg2-dark {
  background-color: #323232;
}

.bgC-dark {
  background-color: var(--dark);
}

.bgC2-dark {
  background-color: #3e3e3e;
}

.c-dark {
  color: var(--dark);
}

.c2-dark {
  color: #9b9b9b;
}

.bb-dark {
  border: 1px solid var(--dark);
}

.bbT-dark {
  border-top: 1px solid var(--dark);
}

/* 
Blue
*/

.bg-blue {
  background-image: linear-gradient(30deg, var(--blue), var(--blue-contrast));
}

.bgC-blue {
  background-color: var(--blue);
}

.c-blue {
  color: var(--blue);
}

.bb-blue {
  border: 1px solid var(--blue);
}

.bbT-blue {
  border-top: 1px solid var(--blue);
}

/* 
Green
*/

.bg-green {
  background: linear-gradient(40deg, var(--green), var(--green-contrast));
}

.bgC-green {
  background-color: var(--green);
}

.c-green {
  color: var(--green);
}

.bb-green {
  border: 1px solid var(--green);
}

.bbT-green {
  border-top: 1px solid var(--green);
}

/* 
Yellow
*/

.bg-yellow {
  background-image: linear-gradient(
    30deg,
    var(--yellow),
    var(--yellow-contrast)
  );
}

.bgC-yellow {
  background-color: var(--yellow);
}

.c-yellow {
  color: var(--yellow);
}

.bb-yellow {
  border: 1px solid var(--yellow);
}

.bbT-yellow {
  border-top: 1px solid var(--yellow);
}

/* 
Red
*/

.bg-red {
  background-image: linear-gradient(30deg, var(--red), var(--red-contrast));
}

.bgC-red {
  background-color: var(--red);
}

.c-red {
  color: var(--red);
}

.bb-red {
  border: 1px solid var(--red);
}

.bbT-red {
  border-top: 1px solid var(--red);
}

/* 
Purple
*/

.bg-purple {
  background-image: linear-gradient(
    30deg,
    var(--purple),
    var(--purple-contrast)
  );
}

.bgC-purple {
  background-color: var(--purple);
}

.c-purple {
  color: var(--purple);
}

.bb-purple {
  border: 1px solid var(--purple);
}

.bbT-purple {
  border-top: 1px solid var(--purple);
}

/* 
Pink
*/

.bg-pink {
  background: linear-gradient(40deg, #f7a49f, var(--pink-contrast));
}

.bgC-pink {
  background-color: var(--pink);
}

.c-pink {
  color: var(--pink);
}

.bb-pink {
  border: 1px solid var(--pink);
}

.bbT-pink {
  border-top: 1px solid var(--pink);
}

/* 
Orange
*/

.bg-orange {
  background: linear-gradient(40deg, var(--orange), var(--orange-contrast));
}

.bgC-orange {
  background-color: var(--orange);
}

.c-orange {
  color: var(--orange);
}

.bb-orange {
  border: 1px solid var(--orange);
}

.bbT-orange {
  border-top: 1px solid var(--orange);
}

/*
Coffee
*/

.bg-coffee {
  background: linear-gradient(40deg, var(--coffee), var(--coffee-contrast));
}

.bgC-coffee {
  background-color: var(--coffee);
}

.c-coffee {
  color: var(--coffee);
}

.bb-coffee {
  border: 1px solid var(--coffee);
}

.bbT-coffee {
  border-top: 1px solid var(--coffee);
}

/* 
Luxe
*/

.bg-luxe {
  background: linear-gradient(40deg, var(--luxe), var(--luxe-contrast));
}

.bgC-luxe {
  background-color: var(--luxe);
}

.c-luxe {
  color: var(--luxe);
}

.bb-luxe {
  border: 1px solid var(--luxe);
}

.bbT-luxe {
  border-top: 1px solid var(--luxe);
}

@media screen and (min-width: 769px) {
  .bbT,
  .bbT-dark,
  .bbT-blue,
  .bbT-yellow,
  .bbT-green,
  .bbT-purple,
  .bbT-pink,
  .bbT-red,
  .bbT-orange,
  .bbT-coffee,
  .bbT-luxe {
    border-top: none;
  }

  .bg-blue {
    background-image: linear-gradient(
      -30deg,
      var(--blue),
      var(--blue-contrast)
    );
  }

  .bg-green {
    background-image: linear-gradient(
      -30deg,
      var(--green),
      var(--green-contrast)
    );
  }

  .bg-yellow {
    background-image: linear-gradient(
      -30deg,
      var(--yellow),
      var(--yellow-contrast)
    );
  }

  .bg-red {
    background-image: linear-gradient(-30deg, var(--red), var(--red-contrast));
  }

  .bg-purple {
    background-image: linear-gradient(
      -30deg,
      var(--purple),
      var(--purple-contrast)
    );
  }

  .bg-pink {
    background-image: linear-gradient(
      -30deg,
      var(--pink),
      var(--pink-contrast)
    );
  }

  .bg-orange {
    background-image: linear-gradient(
      -30deg,
      var(--orange),
      var(--orange-contrast)
    );
  }

  .bg-coffee {
    background-image: linear-gradient(
      -30deg,
      var(--coffee),
      var(--coffee-contrast)
    );
  }

  .bg-luxe {
    background-image: linear-gradient(
      -30deg,
      var(--luxe),
      var(--luxe-contrast)
    );
  }
}
