:root {
  --light: #fff;
  --dark: #242424;
  --blue: #4285f4;
  --yellow: #fbbc05;
  --green: #34a853;
  --purple: #8841da;
  --pink: #f046a9;
  --red: #ea4335;
  --orange: #f07646;
}

/*
Light
*/

.bg {
  background-color: var(--light);
}

.bg2 {
  background-color: #ffffffad;
}

.bb {
  border: 1px solid var(--light);
}

.bbT {
  border-top: 1px solid var(--light);
}

.c {
  color: var(--light);
}

.c2 {
  color: #6d6d6d;
}

/*
Dark
*/

.bg-dark {
  background-color: var(--dark);
}

.bg2-dark {
  background-color: #242424ad;
}

.bb-dark {
  border: 1px solid var(--dark);
}

.bbT-dark {
  border-top: 1px solid var(--dark);
}

.c-dark {
  color: var(--dark);
}

.c2-dark {
  color: #9b9b9b;
}

/* 
Blue
*/

.bb-blue {
  border: 1px solid var(--blue);
}

.bbT-blue {
  border-top: 1px solid var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.c-blue {
  color: var(--blue);
}

.selected-blue {
  color: var(--blue);
}

/* 
Yellow
*/

.bb-yellow {
  border: 1px solid var(--yellow);
}

.bbT-yellow {
  border-top: 1px solid var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.c-yellow {
  color: var(--yellow);
}

.selected-yellow {
  color: var(--yellow);
}

/* 
Green
*/

.bb-green {
  border: 1px solid var(--green);
}

.bbT-green {
  border-top: 1px solid var(--green);
}

.bg-green {
  background-color: var(--green);
}

.c-green {
  color: var(--green);
}

.selected-green {
  color: var(--green);
}

/* 
Purple
*/

.bb-purple {
  border: 1px solid var(--purple);
}

.bbT-purple {
  border-top: 1px solid var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

.c-purple {
  color: var(--purple);
}

.selected-purple {
  color: var(--purple);
}

/* 
Pink
*/

.bb-pink {
  border: 1px solid var(--pink);
}

.bbT-pink {
  border-top: 1px solid var(--pink);
}

.bg-pink {
  background-color: var(--pink);
}

.c-pink {
  color: var(--pink);
}

.selected-pink {
  color: var(--pink);
}

/* 
Red
*/

.bb-red {
  border: 1px solid var(--red);
}

.bbT-red {
  border-top: 1px solid var(--red);
}

.bg-red {
  background-color: var(--red);
}

.c-red {
  color: var(--red);
}

.selected-red {
  color: var(--red);
}

/* 
Orange
*/

.bb-orange {
  border: 1px solid var(--orange);
}

.bbT-orange {
  border-top: 1px solid var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.c-orange {
  color: var(--orange);
}

.selected-orange {
  color: var(--orange);
}

@media screen and (min-width: 769px) {
  .bbT-blue, .bbT-yellow, .bbT-green, .bbT-purple, .bbT-pink, .bbT-red, .bbT-orange, .bbT, .bbT-dark {
    border-top: none;
  }
}
