@font-face {
  font-family: Product Sans;
  src: url(./fonts/Product\ Sans\ Regular.ttf);
}

@keyframes toBottom {
  
  0% {
    opacity: 0%;
    transform: translateY(-100px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toBottom {
  
  0% {
    opacity: 0%;
    transform: translateY(50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Product Sans', sans-serif;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.App {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 100vh;
  overflow: hidden;
  padding-top: 70px;
  min-width: 100vw;
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 0;
  }
}
