.certificates-h3 {
  justify-content: space-between;
  font-weight: 100;
  display: flex;
  align-items: center;
  width: 95%;
  padding: 20px;
  cursor: pointer;
  border-radius: 0.5em;
  transition: 0.5s;
  margin: auto;
}

.certificates-h3.show {
  border-radius: 0.5em 0.5em 0 0;
}

.certificates-h3 div {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.certificates-h3 div svg {
  margin-left: 10px;
}

/* .about.bg .certificates-container {
  background-color: #eee;
}

.about.bg-dark .certificates-container {
  background-color: #3b3b3b;
} */

.certificates-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 40px;
  justify-content: center;
  transition: 0.5s;
  width: 95%;
  margin: auto;
  border-radius: 0 0 0.5em 0.5em;
  height: 0;
  border-width: 0;
  overflow: hidden;
}

.certificates-container.show {
  height: auto;
  padding: 80px 10px;
  border-width: 1px;
}

.about.bg .certificates-container .certificate-card {
  background-color: #eee;
}

.about.bg-dark .certificates-container .certificate-card {
  background-color: #3b3b3b;
}

.certificates-container .certificate-card {
  justify-self: center;
  padding: 10px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s;
  max-width: 95%;
}

.certificates-container .certificate-card img {
  width: 100%;
  border-radius: 0.5em;
}

.certificates-container .certificate-card h4 {
  font-weight: 100;
  padding: 20px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  transition: 0.5s;
}

.certificates-container .certificate-card a {
  border: none;
  border-radius: 25px;
  font-size: 0.8em;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 8px 12px;
}

.certificates-container .certificate-card svg {
  margin-left: 10px;
}
