.social-menu {
  align-items: center;
  border-radius: 0.5em;
  left: 60px;
  cursor: auto;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  list-style: none;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: 0.2s;
  width: 0;
}

.social:checked ~ .social-menu {
  width: 236px;
  opacity: 1;
}

.social-menu .ri-github-line {
  color: #ff642c;
}

.social-menu .ri-linkedin-line {
  color: #0e76a8;
}

.social-menu .ri-twitter-line {
  color: #00acee;
}

.social-menu .ri-instagram-line {
  color: #C13584;
}
